# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
